### Java ###
**/*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz

# VM crash logs
hs_err_pid*
replay_pid*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Local manually added JARs
libs/

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### VS Code ###
.vscode/

### OS Temp ###
.DS_Store
Thumbs.db

### Environment ###
**/application-secret.yml
**/.env
**/.env.*

### Logs ###
**/logs/
**/*.log
**/*.out

### Test Reports ###
test-output/
target/

### Local Databases ###
**/*.db
**/*.sqlite
**/*.h2.db

### Build Tools ###
bin/

### Other ###
*.swp
*.swo