<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zippick.domain.auth.mapper.AuthMapper">
    <insert id="insertToken">
        INSERT INTO AUTH_TOKEN(TOKEN, EXPIRED_AT, MEMBER_ID)
        VALUES (#{token}, #{expiredAt}, #{memberId})
    </insert>


    <select id="getMemberById" resultType="zippick.domain.member.dto.MemberDTO">
        SELECT id, login_id, password, name
        FROM MEMBER
        WHERE login_id = #{loginId}
    </select>

    <delete id="deleteToken">
        DELETE FROM AUTH_TOKEN
        WHERE token = #{token}
    </delete>

    <select id="getToken" resultType="zippick.domain.auth.dto.AuthTokenDTO">
        SELECT token, expired_at, member_id
        FROM AUTH_TOKEN
        WHERE token = #{token}
    </select>
</mapper>